@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: 'Noto Sans SC', sans-serif;
    }
}