@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: 'Noto Sans SC', sans-serif;
    }
}

@keyframes typewriter-blink {
  0%, 45% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.typewriter-cursor {
  animation: typewriter-blink 1s step-end infinite;
}
